#header {
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background: #ffffff;

  display: none;
  .container{
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .logo{
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
  }

  nav{
    display: flex;
      a{
        display: flex;
        padding: 0 15px;
        height: 76px;
        align-items: center;
       }
  }
}
