.visual {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://www.beingeorge.com/justin/assets/images/slider3.jpg') 50% 50% / cover no-repeat;
  position: relative;


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);

  };

  .text {
    position: relative;
    text-align: center;;

    p {
      font-size: 20px;
      color: #fff;
      margin-bottom: 18px;
      text-transform: uppercase;
    }

    h1 {
      font-size: 50px;
      color: #ffffff;
      text-transform: capitalize;
    }
  }
}

//section about me
.about-me {
  margin-top: -234px;
  position: relative;
  transform: translate(0, 80px);
  opacity: 0;
  -webkit-transition: 0.6S;
  -moz-transition: 0.6S;
  -ms-transition: 0.6S;
  -o-transition: 0.6S;
  transition: 0.6S;

  .scrolled & {
    transform: none;
    opacity: 1;
  }

  .bio {
    display: flex;

    background: #fff;
    max-width: 950px;
    margin: auto;
    -webkit-box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.2);
    padding: 55px 0 55px 50px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    @include screen-sm {
        flex-direction: column-reverse;
      padding: 30px 20px;
    }
    .text {
      flex: 5;


      h2 {
        font-size: 32px;
        color: #333333;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 25px;
        @include screen-sm{
          font-size: 26px;
          margin-bottom: 15px;
        }
      }

      p {
        font-size: 25px;
        color: #666666;
        line-height: 1.6;
        margin-bottom: 20px;
        @include screen-sm{
          font-size: 18px;
        }
      }

      .links {
        a {
          font-size: 20px;
          margin-right: 15px;

        }
      }
    }

    .photo {
      flex: 4;
      text-align: center;
      @include screen-sm{
        margin-bottom: 30px;
      }
      img {

        width: 295px;
        height: 295px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        @include screen-sm{
          width: 270px;
          height: 270px;
        }
      }
    }
  }
}

//section services
.services {
  background: #ffffff;
  padding: 80px 0;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  margin-top: 30px;

  .title-area {
    text-align: center;
    margin-bottom: 30px;

    p {
      font-size: 12px;
      color: #888888;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 30px;
      color: #333333;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1 1 50%;
      max-width: 50%;
      padding: 15px;
      @include screen-sm {
        flex: 1 1 50%;
        max-width: 50%;
      }
      @include screen-xs {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }

  .item {

    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    transition: .4s;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
    display: block;
    &:hover {
      box-shadow: 1px 2px 35px rgba(0, 0, 0, 0.3);
      transform: translate(0, -10px);
    }

    &.long{
      img{
        height: 700px!important;
      }
    }
    .thumb {
      position: relative;

      img {
        width: 100%;
        height: 280px;
        vertical-align: top;
      }

      .screen {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        opacity: 0;
        transition: .4s;
        cursor: pointer;

        span {
          font-size: 48px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .desc {
      padding: 20px 15px;

      h2 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 8px;
        color: #333;
      }

      p {
        line-height: 1.4;
        color: #777;
      }
    }
  }
}

.about {
  background: #ffffff;
  padding: 80px 0;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  ol{
    list-style: decimal;
    margin-bottom: 40px;
  }
  .me {
    text-align: center;
    margin-bottom: 30px;

    p {
      font-size: 12px;
      color: #888888;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 30px;
      color: #333333;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 25px;
      margin-top: 60px;
      margin-bottom: 30px;
    }

    #growth {
      text-align: left;
      font-size: 18px;
      line-height: 1.8;
      color: #333333;
      text-align: justify;

    }

    li {
      text-align: left;
      font-size: 18px;
      line-height: 1.8;
      color: #333333;
    }

  }
}
.contact {
  background: #ffffff;
  padding: 80px 0;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;

  .title-area {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;

    p {
      font-size: 12px;
      color: #888888;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 30px;
      color: #333333;
    }
  }
      #text{
        font-size: 20px;
        color: #333333;
        line-height: 1.5;
      }
}


#map{
  height: 500px;
  @include screen-sm{
    height: 200px;
  }
}

#footer{
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  height: 120px;
  background: #ffffff;
  color: #777777;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}